
.list-group-item {
  font-size: 0.75em;
}
 
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

// .btn-group-sm > .btn, .btn-sm {
//   padding: .25rem .5rem;
//   font-size: .875rem;
//   line-height: 1.5;
//   border-radius: .2rem;
  
// }

// .btn-sm{
//   padding: .25rem .5rem;
//   font-size: .875rem;
//   line-height: 1.5;
//   border-radius: .2rem;
// }

