.list-group-item {
      font-size: 0.75em;
    }

    .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: darkorange;
      border-color: darkorange;
    }
    .search-book {
      max-width: 500px;
      padding-bottom: 10px;
      margin: auto;
      color: #405065;
    }

    .form-control {
      box-shadow: 0 10px 40px 0 #B0C1D9;
    }

    .form-control::placeholder {
      font-family: FontAwesome;
    }