.bgImg {
  background-image: url(../../../assets/img/home-bg.jpg);
  max-height:450px;
}
 
.fa.fa-book {
  margin-right: 5px !important;
  color: orange;
}
 
.navbar-brand {
  font-size: 2.5rem;
// font-weight: 100 !important;
  font-family: 'Amatic SC', cursive;
}
.title {
  font-size: 7.2rem !important;
  font-family: 'Amatic SC', cursive;
}
#mainNav .navbar-nav>li.nav-item>a {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height:450px;
  width: 100%;
  background-color: #212529;
  opacity: .5;
}